.wrapper {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container {
  display: grid;
  grid-template-columns: 389px 762px;
  gap: 30px;
}

/* Левая карточка */
.profileCard {
  background: #f7f7f7;
  border-radius: 20px;
  padding: 24px;
  text-align: center;
  max-height: 400px;
}

.avatar {
  width: 140px;
  height: 140px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 auto 16px;
}

.profileCard h2 {
  margin-bottom: 16px;
}

.info p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

/* Правая карточка */
.menuCard {
  max-height: 400px;
  background: #f7f7f7;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0 auto;
}

.menu li {
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  color: #222222;
}

.menu li:hover {
  opacity: 0.7;
}

.menu li a {
  text-decoration: none;
  color: #222222;
}

.line {
 border-bottom: 1px solid #4C4C4C;
}

.logout {
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 8px 0;
  color: #333;
}

.logout:hover {
  color: red;
}
