.about {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 60px 80px;
   background: #ffffff;
   position: relative;
   max-width: 1440px;
   margin-left: 210px;
 }
 
 .aboutText {
   max-width: 620px;
 }
 
 .aboutText h1 {
  font-size: 32px;
  font-weight: 800;
  color: #3b3b3b;
  margin-bottom: 20px;
 }
 
 .aboutText p {
   max-height: 200px;
   font-weight: 400;
   font-size: 20px;
   color: #4c4c4c;
 }
 
 .aboutImg {
   width: 380px;
   height: auto;
   object-fit: contain;
   filter: drop-shadow(0px 8px 25px rgba(0, 0, 0, 0.08));
 }
 