.page {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-right: 32px;
  border-right: 1px solid #e0e0e0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-left:  16px;
}

.line {
  border-bottom: 1px solid #D9D9D96E;
}