.page {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
