.h1 {
   font-size: 30px;
   padding: 60px;
   border-left: none;
   border-right: none;
   color: #fbfbfb;
 
   &.project {
     background: linear-gradient(to right, #1f3b4d, #2a607c);
     border-top: 3px solid #4dc2d1;
     border-bottom: 3px solid #4dc2d1;
   }
 
   &.general {
     background: linear-gradient(to right, #3a3a3a, #575757);
     border-top: 3px solid #999;
     border-bottom: 3px solid #999;
   }
 }
 
 .Text {
   font-size: 41px;
   color: white;
 }
 

.df {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   color: #D2E5E9;
}

.nav {
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   color: black;

   a {
      font-size: 30px;
      color: white;
      text-decoration: none;
      transition: 0.4s;

      &:hover {
         color: #D2E5E9;
      }
   }
}

.searchBox {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}
