.news {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  color: rgb(255, 255, 255);
  background-color: #293239;
}

.news p {
  max-width: 800px;
  width: 100%;
  font-size: 22px;
  color: #D2E5E9;
}

@media (max-width: 650px) {
  .news p {
    font-size: 15px;
  }
}

@media (max-width: 1350px) {
  .news {
    flex-direction: column;
    align-items: center;
  }
}

.news form {
  margin-top: 16px;
  display: flex;
  color: black;
}

.news form input {
  width: calc(100% - 80px);
  padding: 8px;
  font-size: 15px;
  border: 5px solid #000000;
  border-radius: 4px;
  margin-right: 8px;
}

.news form button {
  padding: 12px 16px;
  font-size: 17px;
  background-color: #007bff;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.news form button:hover {
  background-color: #037dff;
  box-shadow: 10px 10px 15px rgba(18, 61, 122, 0.3);
}

.newslogo {
  flex-shrink: 0;
}

.newslogo img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

@media (max-width: 1350px) {
  .newslogo img {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .newslogo img {
    max-width: 140px;
    width: 100%;
  }
}

.likes {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 15px;
}

.likes button {
  padding: 7px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.2s;
  transition-property: transform;
}

.likes button img {
  width: 35px;
  height: 35px;
  transition: 0.3s;
}

.likes button img:active {
  width: 38px;
  height: 38px;
}

.likes button:hover {
  transform: scale(1.1);
}

.likes button.podelis {
  border: 1px solid black;
  border-radius: 7px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.likes button.podelis:hover {
  color: #888888;
}

.shareOptions {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shareOptions button {
  display: block;
  margin: 5px 0;
  padding: 8px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.shareOptions button:hover {
  background-color: #e0e0e0;
}

.readMoreButton {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.readMoreButton:hover {
  background-color: #0056b3;
}

.textWrapper {
  max-height: 250px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.6s ease, padding 0.6s ease;
}

.textWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  transition: opacity 0.3s ease;
}

.textWrapper.expanded::after {
  opacity: 0;
}

.expanded {
  max-height: 2000px;
}
